/***** Contacto *****/

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;

        .mapa { width: 50%;
            height: 500px;
            margin-bottom: 50px;

        iframe{
        margin: 20px 0;
        width: 100%;
        height: 70%;
        border-radius: 5px;
        }}

/***** formulario *****/
.form-control{
    background-color: $white;
}

::placeholder {
    color: $mainColor;
}}