/***** Cabecera *****/

.botonera{
    height: auto;

    .logo img {
        width: 250px;
        height: auto;
        padding: 2px;
    }


    a.nav-link{
    color: $white;
    font-size: $textoLg;
    padding: 1px;
    
    &:hover, &:active{
        color: $secondaryMainColor;
}}

.nav-item:hover{
            border-bottom: 1px solid white;
            cursor: pointer;
            transition:.3s ease all;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}}
