
//colores
$mainColor: #111111;
$secondaryMainColor: #fbff29;
$white: #EEEEEE;



//fonts
$mainFont: 'Titillium Web', sans-serif;
$secondaryFont: verdana , sans-serif;

//sizing
$textoSm: .9rem;
$textoMd: 1.1rem;
$textoLg: 1.3rem;
$textoXl: 2.2rem;

//padding
$padding: 5px;
